
hds-project/.idea/.name
hds-project/.idea/artifacts/hds_notary_ear_exploded.xml
hds-project/.idea/compiler.xml
hds-project/.idea/encodings.xml
hds-project/.idea/misc.xml
hds-project/.idea/vcs.xml
hds-project/.idea/workspace.xml
hds-project/hds-notary.iml
